*.md
!README.md

# Environments
# .env --DON'T DELETE WE NEED THIS FILE--
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Node.js
**/node_modules/
**/dist
.git
npm-debug.log
.coverage
.coverage.*
.env
.aws

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Visual Studio Code #
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# Celery stuff
celerybeat-schedule
celerybeat.pid

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
